* {
    box-sizing: border-box;
  }
  
  .header {
    background-color: #829EB9;
    text-align: center;
    color: white;
    padding: 10px;
  }
  
  .lewy {
    width: 25%;
    height: 400px;
    background: #B3C6D9;
    padding-top: 100px;
  }

  .prawy {
    width: 25%;
    height: 400px;
    background: #B3C6D9;
    padding-top: 100px;
    margin:auto;
    display: flex;
  }
  
  .article {
    width: 50%;
    background-color: #e9e9e9;
    height: 400px;
    text-align: center;
    padding-top: 100px;
  }
  
  .footer {
    background-color: #829EB9;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 10px;
  }
  
  .main {
    height: 100%;
    width: 100%;
    display: flex;
  }

  table {
    border-collapse: collapse;
    margin:auto;
    color: dimgray;
}
  .tablestyle{
    color: black;
  }
  
  .img {
    width: 100%;
    height: 70%;
    border-radius: 20px;
  }

  td:hover{
    background-color: steelblue;
  }

  .mieszamy{
    background-color: #B3C6D9;
    height: auto;
    width: 450px;
    margin: auto;
    text-align: center;
    
  }
  .flex{
    display: flex;
    padding-left: 25px;
  }